{{!
  Computes content height based on line count in interactions.
  Expected hash inputs: `interactions`, `const`, `line_height`.
}}
{{~#*inline "compute_content_height"}}
  {{#scope lines=0 margins=0 displayed_interactions=0}}
    {{#each interactions}}
      {{#if (not input.hidden)}}
        {{lines set=(add (lines) (count_lines input.text))}}
        {{margins set=(add (margins) 1)}}
        {{displayed_interactions set=(add (displayed_interactions) 1)}}
      {{/if}}
      {{lines set=(add (lines) (len output))}}
      {{#if (ne 0 (len output))}}
        {{margins set=(add (margins) 1)}}
      {{/if}}
    {{/each}}
    {{#if (gt (margins) 0)}}
    {{! The last margin is not displayed. }}
      {{margins set=(sub (margins) 1)}}
    {{/if}}
    {{add (mul (lines) line_height)
          (mul (margins) const.BLOCK_MARGIN)
          (mul (displayed_interactions) (mul 2 const.USER_INPUT_PADDING)) }}
  {{/scope}}
{{/inline~}}

{{!
  Computes scroll animation parameters.
  Expected hash inputs: `content_height`, `const`, `scroll`, `width`
}}
{{~#*inline "compute_scroll_animation"}}
  {{#if (gte scroll.max_height content_height)}}
  {{! No need for scroll animation }}
    null
  {{else}}
    {{#scope
      steps=(div (sub content_height scroll.max_height) scroll.pixels_per_scroll round="up")
      y_step=0
      view_box=""
      scrollbar_y=""
      sep=""
    }}
      {{y_step set=(div (sub scroll.max_height const.SCROLLBAR_HEIGHT) (steps))}}
      {{#each (range 0 (add (steps) 1))}}
        {{#sep}}{{#if @first}}""{{else}}";"{{/if}}{{/sep}}
        {{#view_box}}"{{view_box}}{{sep}}0 {{min (mul ../scroll.pixels_per_scroll @index) (sub ../content_height ../scroll.max_height)}} {{../width}} {{../scroll.max_height}}"{{/view_box}}
        {{#scrollbar_y}}"{{scrollbar_y}}{{sep}}0 {{mul (y_step) @index round="nearest"}}"{{/scrollbar_y}}
      {{/each}}

      {
        "duration": {{mul scroll.interval (steps)}},
        "view_box": "{{view_box}}",
        "scrollbar_x": {{sub width const.SCROLLBAR_RIGHT_OFFSET}},
        "scrollbar_y": "{{scrollbar_y}}"
      }
    {{/scope}}
  {{/if}}
{{/inline~}}

{{! Common styles header, e.g. `@font-face`s }}
{{~#*inline "common_styles_header"}}
{{~#if additional_styles}}

{{{additional_styles}}}
{{~/if~}}
{{~#with embedded_font~}}
{{~#each faces}}

@font-face {
  font-family: "{{../family_name}}";
  src: url("data:{{mime_type}};base64,{{{base64_data}}}");
  {{#if (ne is_bold null)}}
    font-weight: {{#if is_bold}}bold{{else}}normal{{/if}};
  {{/if}}
  {{#if (ne is_italic null)}}
    font-style: {{#if is_italic}}italic{{else}}normal{{/if}};
  {{/if}}
}
{{~/each~}}
{{~else~}}
{{~/with~}}
{{/inline~}}

{{! Common font styling }}
{{~#*inline "common_font_styles"}}
.bold,.prompt { font-weight: bold;{{#with (ptr embedded_font "/metrics/bold_spacing") as |sp|}} letter-spacing: {{round sp digits=4}}em;{{else}}{{/with}} }
.italic { font-style: italic;{{#with (ptr embedded_font "/metrics/italic_spacing") as |sp|}} letter-spacing: {{round sp digits=4}}em;{{else}}{{/with}} }
.underline { text-decoration: underline; }
{{/inline~}}

{{! Terminal background }}
{{~#*inline "background"}}
<rect width="100%" height="100%" y="{{#if window_frame}}-{{const.WINDOW_FRAME_HEIGHT}}{{else}}0{{/if}}" rx="4.5" style="fill: {{ palette.colors.black }};"/>
{{~#if window_frame}}

<rect width="100%" height="26" y="-22" clip-path="inset(0 0 -10 0 round 4.5)" style="fill: #fff; fill-opacity: 0.1;"/>
<circle cx="17" cy="-9" r="7" style="fill: {{ palette.colors.red }};"/>
<circle cx="37" cy="-9" r="7" style="fill: {{ palette.colors.yellow }};"/>
<circle cx="57" cy="-9" r="7" style="fill: {{ palette.colors.green }};"/>
{{~/if}}

{{/inline~}}

{{! Scrollbar + its animation }}
{{~#*inline "scrollbar"}}
{{#with (scroll_animation)}}
<rect class="scrollbar" x="{{scrollbar_x}}" y="10" width="5" height="40">
  <animateTransform attributeName="transform" attributeType="XML" type="translate" values="{{scrollbar_y}}" dur="{{duration}}s" repeatCount="indefinite" calcMode="discrete" />
</rect>
{{/with}}
{{/inline~}}

{{! Renders an HTML span }}
{{~#*inline "html_span"}}
  {{~#if (gt (len span) 1)~}}{{! Are there any style properties in `span`? }}
    {{~#scope classes="" styles=""}}
    {{~#classes append=true}}
      {{~#if span.bold}} bold{{/if~}}
      {{~#if span.italic}} italic{{/if~}}
      {{~#if span.underline}} underline{{/if~}}
      {{~#if span.dimmed}} dimmed{{/if~}}
      {{~#if (eq (typeof span.fg) "number")}} fg{{span.fg}}{{/if~}}
      {{~#if (eq (typeof span.bg) "number")}} bg{{span.bg}}{{/if~}}
    {{/classes~}}
    {{~classes set=(trim (classes))~}}
    {{~#styles append=true}}
      {{~#if (eq (typeof span.fg) "string")}} color: {{span.fg}};{{/if~}}
      {{~#if (eq (typeof span.bg) "string")}} background: {{span.bg}};{{/if~}}
    {{/styles~}}
    {{~styles set=(trim (styles))~}}
    <span{{#if (classes)}} class="{{classes}}"{{/if}}{{#if (styles)}} style="{{styles}}"{{/if}}>
    {{~/scope~}}
  {{~/if~}}
  {{{span.text}}}
  {{~#if (gt (len span) 1)~}}
    </span>
  {{~/if~}}
{{~/inline~}}

{{! Renders an SVG foreground <tspan> }}
{{~#*inline "svg_tspan"}}
  {{~#if (gt (len span) 1)~}}{{! Are there any style properties in `span`? }}
    {{~#scope classes="" styles=""}}
      {{~#classes append=true}}
        {{~#if span.bold}} bold{{/if~}}
        {{~#if span.italic}} italic{{/if~}}
        {{~#if span.underline}} underline{{/if~}}
        {{~#if span.dimmed}} dimmed{{/if~}}
        {{~#if (eq (typeof span.fg) "number")}} fg{{span.fg}}{{/if~}}
        {{! Unlike with HTML <span>s, we add the bg class in any case to assist with parsing }}
        {{~#if (ne (typeof span.bg) "null")}} bg{{span.bg}}{{/if~}}
      {{/classes~}}
      {{~classes set=(trim (classes))~}}
      {{~#styles append=true}}
        {{~#if (eq (typeof span.fg) "string")}}fill: {{span.fg}};{{/if~}}
      {{/styles~}}
      <tspan{{#if (classes)}} class="{{classes}}"{{/if}}{{#if (styles)}} style="{{styles}}"{{/if}}>
    {{~/scope~}}
  {{~/if~}}
  {{{span.text}}}
  {{~#if (gt (len span) 1)~}}
    </tspan>
  {{~/if~}}
{{~/inline~}}

{{!
  Scales font metrics from design units to ems to pixels.
  Expected hash inputs: `metrics`, `font_size`
}}
{{~#*inline "scale_font_metrics"}}
  {
  "advance_width": {{mul font_size (div metrics.advance_width metrics.units_per_em)}},
  "ascent": {{mul font_size (div metrics.ascent metrics.units_per_em)}},
  "descent": {{mul font_size (div metrics.descent metrics.units_per_em)}}
  }
{{/inline~}}

{{! Sets `line_height` based on font metrics (if supplied) or the user-provided value }}
{{~#*inline "set_line_height"}}
  {{~#if (eq (line_height) null) ~}}
    {{#if embedded_font}}
      {{~#with (eval "scale_font_metrics" metrics=embedded_font.metrics font_size=const.FONT_SIZE) as |metrics|~}}
        {{~line_height set=(round (sub metrics.ascent metrics.descent) digits=1)~}}
      {{~/with~}}
      {{~else~}}
      {{~line_height set=16.8 ~}}{{! Set to a somewhat reasonable default (1.2 * font_size) }}
    {{~/if~}}
    {{~else~}}
    {{! Scale line height according to the font size }}
    {{~line_height set=(round (mul (line_height) const.FONT_SIZE) digits=1)~}}
  {{~/if~}}
{{/inline~}}
