{{! Load common helpers }}
{{>_helpers~}}

{{! Root template }}
{{~#*inline "root"}}
<!-- Created with {{{creator.name}}} v{{{creator.version}}} ({{{creator.repo}}}) -->
<svg viewBox="0 {{#if window_frame}}-{{const.WINDOW_FRAME_HEIGHT}}{{else}}0{{/if}} {{width}} {{height}}" width="{{width}}" height="{{height}}" xmlns="http://www.w3.org/2000/svg">
  <switch>
    <g requiredExtensions="http://www.w3.org/1999/xhtml">
      {{>styles}}
      {{>background}}

      {{~>content}}
      {{~#if (scroll_animation)}}
      {{>scrollbar}}
      {{>scroll_animation}}
      {{/if}}
    </g>
    {{>unsupported_error}}
  </switch>
</svg>
{{/inline~}}

{{! NB. The warning text should fit in one 80-char line to not potentially overflow the viewbox. }}
{{~#*inline "unsupported_error"}}
<text x="10" y="{{line_height}}" style="font: {{const.FONT_SIZE}}px monospace; fill: {{ palette.colors.red }};">
  HTML embedding not supported.
  Consult <tspan style="text-decoration: underline; text-decoration-thickness: 1px;"><a href="https://github.com/slowli/term-transcript/blob/HEAD/FAQ.md">term-transcript docs</a></tspan> for details.
</text>
{{/inline~}}

{{! CSS definitions }}
{{~#*inline "styles"}}
<style>
  {{>common_styles_header}}
  .container {
    padding: 0 {{const.WINDOW_PADDING}}px;
    color: {{ palette.colors.white }};
    line-height: {{line_height}}px;
  }
  .container pre {
    padding: 0;
    margin: 0;
    font: {{const.FONT_SIZE}}px {{#if embedded_font}}"{{embedded_font.family_name}}", monospace{{else}}{{font_family}}{{/if}};
    line-height: inherit;
  }
  .input {
    {{~#if (eq line_numbers "continuous")}}

    display: flex;
    {{~/if}}

    margin: 0 -{{const.WINDOW_PADDING}}px {{const.BLOCK_MARGIN}}px;
    color: {{ palette.colors.white }};
    background: rgba(255, 255, 255, 0.1);
    padding: 2px {{const.WINDOW_PADDING}}px;
  }
  .input-hidden { display: none; }
  {{~#if (eq line_numbers "continuous")}}

  .input > pre { flex-grow: 1; }
  {{~/if}}

  .output { {{#if line_numbers}}display: flex; {{/if}}margin-bottom: {{const.BLOCK_MARGIN}}px; }
  {{~#if line_numbers}}

  .output > pre { flex-grow: 1; }
  pre.line-numbers {
    flex-grow: 0;
    width: {{const.LN_WIDTH}}px;
    text-align: right;
    padding-right: {{const.LN_PADDING}}px;
    color: color-mix(in hsl, currentColor 35%, {{ palette.colors.black }} 65%);
    user-select: none;
  }
  {{/if}}
  {{~#if has_failures}}

  .input-failure {
    border-left: 2px solid {{ palette.colors.red }};
    border-right: 2px solid {{ palette.colors.red }};
    background: rgba(255, 0, 65, 0.15);
  }
  {{/if}}
  {{~#if (scroll_animation)}}

  .scrollbar { fill: #fff; fill-opacity: 0.35; }
  {{~/if}}

  {{>common_font_styles}}
  {{!
    The dimmed-related complexity is motivated by Safari quirks; it doesn't render HTML-in-SVG with any filters
    (incl. opacity) correctly.
  }}
  .dimmed > span { color: color-mix(in hsl, currentColor 70%, {{ palette.colors.black }} 30%); }
  .dimmed-bg > span { background: rgb(from {{ palette.colors.black }} r g b / 30%); }
  {{~#if wrap}}

  .hard-br { margin-left: 8px; }
  .hard-br:before {
    content: '»';
    color: color-mix(in hsl, currentColor 60%, {{ palette.colors.black }} 40%);
  }
  {{~/if}}

  .line { display: block; }
  .line > span { display: inline-block; text-decoration-thickness: 1px; }
  .fg0 { color: {{ palette.colors.black }}; } .bg0 { background: {{ palette.colors.black }}; }
  .fg1 { color: {{ palette.colors.red }}; } .bg1 { background: {{ palette.colors.red }}; }
  .fg2 { color: {{ palette.colors.green }}; } .bg2 { background: {{ palette.colors.green }}; }
  .fg3 { color: {{ palette.colors.yellow }}; } .bg3 { background: {{ palette.colors.yellow }}; }
  .fg4 { color: {{ palette.colors.blue }}; } .bg4 { background: {{ palette.colors.blue }}; }
  .fg5 { color: {{ palette.colors.magenta }}; } .bg5 { background: {{ palette.colors.magenta }}; }
  .fg6 { color: {{ palette.colors.cyan }}; } .bg6 { background: {{ palette.colors.cyan }}; }
  .fg7 { color: {{ palette.colors.white }}; } .bg7 { background: {{ palette.colors.white }}; }
  .fg8 { color: {{ palette.intense_colors.black }}; } .bg8 { background: {{ palette.intense_colors.black }}; }
  .fg9 { color: {{ palette.intense_colors.red }}; } .bg9 { background: {{ palette.intense_colors.red }}; }
  .fg10 { color: {{ palette.intense_colors.green }}; } .bg10 { background: {{ palette.intense_colors.green }}; }
  .fg11 { color: {{ palette.intense_colors.yellow }}; } .bg11 { background: {{ palette.intense_colors.yellow }}; }
  .fg12 { color: {{ palette.intense_colors.blue }}; } .bg12 { background: {{ palette.intense_colors.blue }}; }
  .fg13 { color: {{ palette.intense_colors.magenta }}; } .bg13 { background: {{ palette.intense_colors.magenta }}; }
  .fg14 { color: {{ palette.intense_colors.cyan }}; } .bg14 { background: {{ palette.intense_colors.cyan }}; }
  .fg15 { color: {{ palette.intense_colors.white }}; } .bg15 { background: {{ palette.intense_colors.white }}; }
</style>
{{/inline~}}

{{~#*inline "content"}}
      <svg{{#if (scroll_animation)}} id="scroll-container"{{/if}} x="0" y="{{const.WINDOW_PADDING}}" width="{{width}}" height="{{screen_height}}" viewBox="0 0 {{width}} {{screen_height}}" overflow="hidden">
        <foreignObject width="{{width}}" height="{{content_height}}">
          <div xmlns="http://www.w3.org/1999/xhtml" class="container">
            {{~#each interactions}}

            <div class="input{{#if failure}} input-failure{{/if}}{{#if input.hidden}} input-hidden{{/if}}"
              {{~#if (ne exit_status null)}} data-exit-status="{{exit_status}}"{{/if~}}
              {{~#if failure}} title="This command exited with non-zero code"{{/if}}>
              {{~#if (and (eq ../line_numbers "continuous") (not input.hidden))}}{{>number_input_lines}}{{/if~}}
              <pre><span class="prompt">{{ input.prompt }}</span> {{ input.text }}</pre></div>
            <div class="output">
              {{~#if ../line_numbers~}}
                {{~>number_output_lines~}}
                {{~#if (ne ../line_numbers "each_output")~}}
                  {{~line_number set=(add (line_number) (len output))~}}
                {{~/if~}}
              {{~/if~}}
              <pre>
              {{~#each output as |line|~}}
                <span class="line">
                {{~#each line.spans as |span|~}}
                  {{~>html_span span~}}
                {{~else~}}{{! The line may be empty }}
                {{~/each~}}
                {{~#if line.br}}<b class="hard-br"></b>{{/if~}}
                {{! Add a newline in order to make the text correctly copyable }}
                {{~#if (not @last)}}

                {{/if~}}
                </span>
              {{~else~}}{{! The output may be empty }}
              {{~/each~}}
              </pre></div>
            {{~/each}}

          </div>
        </foreignObject>
      </svg>
{{/inline~}}

{{~#*inline "number_input_lines"~}}
  <pre class="line-numbers">
    {{~#each (range 0 (count_lines input.text))~}}
      {{add this (line_number)}}{{#if @last}}{{else}}<br/>{{/if}}
    {{~/each~}}
  </pre>
  {{~line_number set=(add (line_number) (count_lines input.text))~}}
{{~/inline~}}

{{~#*inline "number_output_lines"}}
<pre class="line-numbers">
  {{~#each (range 0 (len output))~}}
    {{add this (line_number)}}{{#if @last}}{{else}}<br/>{{/if}}
  {{~/each~}}
</pre>
{{~/inline~}}

{{! Main logic }}
{{#scope
  content_height=0
  scroll_animation=null
  screen_height=0
  height=0
  width=width
  line_height=line_height
  letter_spacing_ems=0
  line_number=1
}}
  {{~>set_line_height ~}}
  {{~content_height set=(round
    (eval "compute_content_height" const=const line_height=(line_height) interactions=interactions)
    digits=1
  )~}}
  {{~#if line_numbers~}}
    {{! Adjust width to take line numbers into account }}
    {{~width set=(add (width) const.LN_WIDTH const.LN_PADDING)~}}
  {{~/if~}}
  {{~#if scroll~}}
    {{scroll_animation set=(eval "compute_scroll_animation"
      const=const
      scroll=scroll
      width=(width)
      content_height=(content_height)
    )}}
  {{~/if~}}
  {{~#if (scroll_animation)~}}
    {{screen_height set=scroll.max_height}}
  {{~else~}}
    {{screen_height set=(content_height)}}
  {{~/if~}}
  {{~height set=(add (screen_height) (mul const.WINDOW_PADDING 2))~}}
  {{~#if window_frame~}}
    {{height set=(add (height) const.WINDOW_FRAME_HEIGHT)}}
  {{~/if~}}
{{>root~}} {{! <-- All rendering happens here }}
{{/scope}}
