{{! Load common helpers }}
{{>_helpers~}}

{{! Renders `class` and/or `style` attributes for a background SVG span }}
{{~#*inline "svg_bg_tspan_attrs"}}
  {{~#scope classes="" styles=""}}
    {{~#classes append=true}}
      {{~#if span.dimmed}} dimmed{{/if~}}
      {{! Here, we intentionally use the *foreground* class }}
      {{~#if (eq (typeof span.bg) "number")}} fg{{span.bg}}{{/if~}}
    {{/classes~}}
    {{~classes set=(trim (classes))~}}

    {{~#if (eq (typeof span.bg) "string")}}
      {{~#styles append=true}}fill: {{span.bg}}; stroke: {{span.bg}};{{/styles~}}
    {{~/if~}}
    {{#if (classes)}} class="{{classes}}"{{/if}}{{#if (styles)}} style="{{styles}}"{{/if}}
  {{~/scope~}}
{{~/inline~}}

{{!
  Computes scroll animation parameters.
  Expected hash inputs: `content_height`, `const`, `scroll`, `width`
}}
{{~#*inline "compute_scroll_animation"}}
  {{#if (gte scroll.max_height content_height)}}
    {{! No need for scroll animation }}
    null
  {{else}}
    {{#scope
      steps=(div (sub content_height scroll.max_height) scroll.pixels_per_scroll round="up")
      scroll_height=(sub content_height scroll.max_height)
      pos=0
      view_box=""
      scrollbar_y=""
      sep=""
    }}
      {{#each (range 0 (add (steps) 1))}}
        {{~pos set=(min (scroll_height) (mul ../scroll.pixels_per_scroll @index))~}}
        {{#sep}}{{#if @first}}""{{else}}";"{{/if}}{{/sep}}
        {{#view_box}}"{{view_box}}{{sep}}0 {{round (pos) digits=1}} {{../width}} {{../scroll.max_height}}"{{/view_box}}
        {{#scrollbar_y}}"{{scrollbar_y}}{{sep}}0 {{round
          (mul (div (pos) (scroll_height)) (sub ../scroll.max_height ../const.SCROLLBAR_HEIGHT))
          digits=1
        }}"{{/scrollbar_y}}
      {{/each}}

      {
        "duration": {{mul scroll.interval (steps)}},
        "view_box": "{{view_box}}",
        "scrollbar_x": {{sub width (add const.SCROLLBAR_RIGHT_OFFSET 5)}}, {{! 5 is scrollbar width }}
        "scrollbar_y": "{{scrollbar_y}}"
      }
    {{/scope}}
  {{/if}}
{{/inline~}}

{{! Scrollbar + its animation }}
{{~#*inline "scrollbar"}}
  {{#with (scroll_animation)}}
    <rect class="scrollbar" x="{{scrollbar_x}}" y="10" width="5" height="{{../const.SCROLLBAR_HEIGHT}}">
      <animateTransform attributeName="transform" attributeType="XML" type="translate" values="{{scrollbar_y}}" dur="{{duration}}s" repeatCount="indefinite" calcMode="discrete" />
    </rect>
  {{/with}}
{{/inline~}}

{{! Root template }}
{{~#*inline "root"}}
<!-- Created with {{{creator.name}}} v{{{creator.version}}} ({{{creator.repo}}}) -->
<svg viewBox="0 {{#if window_frame}}-{{const.WINDOW_FRAME_HEIGHT}}{{else}}0{{/if}} {{width}} {{height}}" width="{{width}}" height="{{height}}" xmlns="http://www.w3.org/2000/svg">
  {{>styles}}
  {{>background}}

  {{~>content}}
  {{~#if (scroll_animation)}}
  {{>scrollbar}}
  {{/if}}
</svg>
{{/inline~}}

{{! CSS definitions }}
{{~#*inline "styles"}}
<style>
  {{>common_styles_header}}
  .container {
    font: {{const.FONT_SIZE}}px {{#if embedded_font}}"{{embedded_font.family_name}}", monospace{{else}}{{font_family}}{{/if}};
    line-height: {{round (line_height) digits=2}}px;
    {{#if (letter_spacing_ems)}}
    letter-spacing: {{round (letter_spacing_ems) digits=4}}em;
    {{/if}}
  }
  .input,.output {
    white-space: pre;
  }
  .input-bg { fill: #fff; fill-opacity: 0.1; }
  .input-hidden { display: none; }
  .output-bg { stroke-width: 0.5; }
  {{~#if has_failures}}

  .input-bg .input-failure { fill: #ff0041; fill-opacity: 0.15; }
  .input-failure-hl { fill: #ff0041; fill-opacity: 1; }
  {{/if}}
  {{~#if (scroll_animation)}}

  .scrollbar { fill: #fff; fill-opacity: 0.35; }
  {{~/if}}
  {{~#if line_numbers}}

  .line-numbers { text-anchor: end; fill-opacity: 0.35; user-select: none; }
  {{/if}}

  {{>common_font_styles}}
  .dimmed { fill-opacity: 0.7; }
  {{~#if wrap}}

  .hard-br { font-weight: bold; fill-opacity: 0.6; user-select: none; }
  {{~/if}}

  .fg0 { fill: {{ palette.colors.black }}; } .output-bg .fg0 { stroke: {{ palette.colors.black }}; }
  .fg1 { fill: {{ palette.colors.red }}; } .output-bg .fg1 { stroke: {{ palette.colors.red }}; }
  .fg2 { fill: {{ palette.colors.green }}; } .output-bg .fg2 { stroke: {{ palette.colors.green }}; }
  .fg3 { fill: {{ palette.colors.yellow }}; } .output-bg .fg3 { stroke: {{ palette.colors.yellow }}; }
  .fg4 { fill: {{ palette.colors.blue }}; } .output-bg .fg4 { stroke: {{ palette.colors.blue }}; }
  .fg5 { fill: {{ palette.colors.magenta }}; } .output-bg .fg5 { stroke: {{ palette.colors.magenta }}; }
  .fg6 { fill: {{ palette.colors.cyan }}; } .output-bg .fg6 { stroke: {{ palette.colors.cyan }}; }
  .fg7 { fill: {{ palette.colors.white }}; } .output-bg .fg7 { stroke: {{ palette.colors.white }}; }
  .fg8 { fill: {{ palette.intense_colors.black }}; } .output-bg .fg8 { stroke: {{ palette.intense_colors.black }}; }
  .fg9 { fill: {{ palette.intense_colors.red }}; } .output-bg .fg9 { stroke: {{ palette.intense_colors.red }}; }
  .fg10 { fill: {{ palette.intense_colors.green }}; } .output-bg .fg10 { stroke: {{ palette.intense_colors.green }}; }
  .fg11 { fill: {{ palette.intense_colors.yellow }}; } .output-bg .fg11 { stroke: {{ palette.intense_colors.yellow }}; }
  .fg12 { fill: {{ palette.intense_colors.blue }}; } .output-bg .fg12 { stroke: {{ palette.intense_colors.blue }}; }
  .fg13 { fill: {{ palette.intense_colors.magenta }}; } .output-bg .fg13 { stroke: {{ palette.intense_colors.magenta }}; }
  .fg14 { fill: {{ palette.intense_colors.cyan }}; } .output-bg .fg14 { stroke: {{ palette.intense_colors.cyan }}; }
  .fg15 { fill: {{ palette.intense_colors.white }}; } .output-bg .fg15 { stroke: {{ palette.intense_colors.white }}; }
</style>
{{/inline~}}

{{~#*inline "content"}}
    <svg x="0" y="{{const.WINDOW_PADDING}}" width="{{width}}" height="{{screen_height}}" viewBox="0 0 {{width}} {{screen_height}}">
      {{~#with (scroll_animation)}}

      <animate attributeName="viewBox" values="{{view_box}}" dur="{{duration}}s" repeatCount="indefinite" calcMode="discrete" />
      {{~else}}{{/with}}

      {{! Render backgrounds for each input beforehand since they cannot be placed in <text>. }}
      {{#scope
        x_pos=const.WINDOW_PADDING
        input_x_pos=const.WINDOW_PADDING
        y_pos=0
        input_height=0
        input_bg=""
        output_bg=""
        text_fg=""
        hard_breaks=""
      ~}}
      {{~#if line_numbers~}}
        {{x_pos set=(add (x_pos) const.LN_WIDTH const.LN_PADDING)}}
      {{~/if~}}
      {{~#if (eq line_numbers "continuous")~}}
        {{input_x_pos set=(x_pos)}}
      {{~/if}}

      {{~#each interactions}}
        {{~#if (not input.hidden)}}
          {{! Render input background }}
          {{~y_pos set=(add (y_pos) ../const.USER_INPUT_PADDING)~}}
          {{~input_height set=(round (add (mul (count_lines input.text) (line_height)) (mul 2 ../const.USER_INPUT_PADDING)) digits=1)~}}
          {{~#input_bg append=true ~}}
            {{! `y_pos` refers to the too of the text line, so for <rect>s we need to subtract the top margin }}
            {{~#scope top_y=(round (sub (y_pos) ../const.USER_INPUT_PADDING) digits=2)~}}
            <rect x="0" y="{{top_y}}" width="100%" height="{{input_height}}"{{#if failure}} class="input-failure"{{/if}}>
            {{~#if failure~}}
              <title>This command exited with non-zero code</title>
            {{~/if~}}
            </rect>
            {{~#if failure~}}
            <rect x="0" y="{{top_y}}" width="2" height="{{input_height}}" class="input-failure-hl" />
            <rect x="100%" y="{{top_y}}" width="2" height="{{input_height}}" class="input-failure-hl" transform="translate(-2, 0)" />
            {{~/if~}}
            {{~/scope~}}
          {{~/input_bg~}}
        {{~/if~}} {{! if (not input.hidden) }}

        {{! The awkward newlines at the end of line <text>s are required for the text to be properly copyable }}
        {{~#text_fg append=true ~}}
        <g class="input{{#if input.hidden}} input-hidden{{/if}}{{#if failure}} input-failure{{/if}}">
          {{~#each (split_lines input.text)~}}
            <text xml:space="preserve" {{#if (not ../input.hidden)}}x="
                {{~#if (adjust_text_length)~}}
                  {{~#scope full_line=this internal_char_pos=0~}}
                  {{~#if @first~}}
                    {{~full_line set=(concat ../input.prompt " " this)~}}
                  {{~/if~}}
                  {{~#each (split_into_chars (full_line)) as |ch|~}}
                    {{~round (add (input_x_pos) (mul (internal_char_pos) (advance_width))) digits=2~}}
                    {{~#if (not @last)~}}
                      {{~print " "~}}
                    {{~/if~}}
                    {{~internal_char_pos set=(add (internal_char_pos) (char_width ch))~}}
                  {{~/each~}}
                  {{~/scope~}}
                {{~else~}}
                  {{input_x_pos}}
                {{~/if}}" y="{{
                  round (add (y_pos) (text_y_offset)) digits=2
                }}"
              {{~/if}}>
              {{~#if @first}}<tspan class="prompt">{{../input.prompt}}</tspan> {{/if~}}
              {{this}}
</text>
            {{~#if (not ../input.hidden)~}}
              {{~y_pos set=(add (y_pos) (line_height))}}
            {{~/if~}}
          {{~/each~}}
        </g>
        {{~/text_fg~}}
        {{~#if (not input.hidden)~}}
          {{~y_pos set=(add (y_pos) ../const.USER_INPUT_PADDING ../const.BLOCK_MARGIN)}}
        {{~/if~}}

        {{! Render output backround and text }}
        {{~#text_fg append=true ~}}
          <g class="output">
        {{~/text_fg~}}
        {{~#each output as |line|~}}
          {{~#scope char_pos=0 line_fg="" line_bg="" svg_suffix="" glyph_x_pos="" ~}}
          {{~#each line.spans as |span|~}}
            {{~#line_bg append=true ~}}
              {{~#if (ne (typeof span.bg) "null")~}}
                <rect x="{{
                  round (add (x_pos) (mul (char_pos) (advance_width))) digits=2
                }}" y="{{
                  round (y_pos) digits=2
                }}" width="{{
                  round (mul (char_width span.text) (advance_width)) digits=2
                }}" height="{{
                  round (line_height) digits=2
                }}"{{{eval ">svg_bg_tspan_attrs" span=span }}}/>
              {{~/if~}}
            {{~/line_bg~}}
            {{! Render span foreground }}
            {{~#line_fg append=true ~}}{{{eval ">svg_tspan" span=span}}}{{/line_fg~}}
            {{! Render x positions of all chars in the span }}
            {{~#if (adjust_text_length)~}}
              {{~#scope internal_char_pos=(char_pos)~}}
              {{~#glyph_x_pos append=true ~}}
                {{~#each (split_into_chars span.text) as |ch|~}}
                  {{~round (add (x_pos) (mul (internal_char_pos) (advance_width))) digits=2~}}
                  {{~print " "~}}
                  {{~internal_char_pos set=(add (internal_char_pos) (char_width ch))~}}
                {{~/each~}}
              {{~/glyph_x_pos~}}
              {{~/scope~}}
            {{~/if~}}
            {{! Update char position on the line }}
            {{~char_pos set=(add (char_pos) (char_width span.text))~}}
          {{~else~}}{{! The line may be empty }}
          {{~/each~}}
          {{~#if line.br~}}
            {{~#hard_breaks append=true~}}
              <text x="{{
                round (add (x_pos) 8 (mul (advance_width) (char_pos))) digits=2
              }}" y="{{
                round (add (y_pos) (text_y_offset)) digits=2
              }}">»</text>
            {{~/hard_breaks~}}
          {{~/if~}}

          {{! Append collected `line_bg` to the overall background }}
          {{~#output_bg append=true}}{{{line_bg}}}{{/output_bg~}}

          {{! Append collected `line_fg` to the overall text }}
          {{~#text_fg append=true ~}}
            {{~#if (line_fg)~}}
              {{!
                The `y` coordinate in `clip-path` is specified in ems, because specifying it in pixels on Safari / WebKit
                leads to incorrect clip boxes during scaling.
              }}
              <text xml:space="preserve" x="{{#if (glyph_x_pos)}}{{trim (glyph_x_pos)}}{{else}}{{x_pos}}{{/if}}" y="{{
                round (add (y_pos) (text_y_offset)) digits=2
              }}" clip-path="view-box xywh(0 {{round (div (y_pos) ../../const.FONT_SIZE) digits=1}}em 100% {{line_height}}px)">{{{line_fg}}}
</text>
            {{~/if~}}
          {{~/text_fg~}}
          {{~/scope~}}
          {{~y_pos set=(add (y_pos) (line_height))~}}
        {{~else~}}{{! The output may be empty }}
        {{~/each~}}
        {{~#text_fg append=true }}</g>{{/text_fg~}}
        {{~#if (ne (len output) 0)}}
          {{~y_pos set=(add (y_pos) ../const.BLOCK_MARGIN)}}
        {{~/if}}
      {{~/each~}}

      <g class="input-bg">{{{input_bg}}}</g>
      {{~#if (ne (len (output_bg)) 0)~}}
        <g class="output-bg">{{{output_bg}}}</g>
      {{~/if~}}
      {{#if line_numbers}}

      {{>number_lines}}
      {{/if~}}
      {{~#if (hard_breaks)}}<g class="container fg7 hard-br">{{{hard_breaks}}}</g>{{/if~}}
      <g class="container fg7">{{{text_fg}}}</g>
      {{~/scope~}}
    </svg>
{{/inline~}}

{{~#*inline "number_lines"~}}
  {{~#scope
    x_pos=(add const.WINDOW_PADDING const.LN_WIDTH)
    y_pos=0
    line_number=1
  ~}}
  <g class="container fg7 line-numbers">
    {{~#each interactions}}
    {{~#if (not input.hidden)}}
      {{~y_pos set=(add (y_pos) ../const.USER_INPUT_PADDING)~}}
      {{~#if (eq ../line_numbers "continuous")}}
        {{~#each (range 0 (count_lines input.text))~}}
          <text x="{{x_pos}}" y="{{round (add (y_pos) (text_y_offset)) digits=2}}">{{add this (line_number)}}</text>
          {{~y_pos set=(add (y_pos) (line_height))~}}
        {{~/each~}}
        {{~line_number set=(add (line_number) (count_lines input.text))~}}
      {{~else~}}
        {{~y_pos set=(add (y_pos) (mul (count_lines input.text) (line_height)))~}}
      {{~/if~}}
      {{~y_pos set=(add (y_pos) ../const.USER_INPUT_PADDING ../const.BLOCK_MARGIN)~}}
    {{~/if~}}
    {{! Number lines in the output }}
    {{~#each (range 0 (len output))~}}
      <text x="{{x_pos}}" y="{{round (add (y_pos) (text_y_offset)) digits=2}}">{{add this (line_number)}}</text>
      {{~y_pos set=(add (y_pos) (line_height))~}}
    {{~/each~}}
    {{~#if (gt (len output) 0)~}}
      {{~y_pos set=(add (y_pos) ../const.BLOCK_MARGIN)~}}
    {{~/if~}}
    {{~#if (ne ../line_numbers "each_output")~}}
      {{line_number set=(add (line_number) (len output))}}
    {{~/if~}}
    {{/each~}}
  </g>
  {{~/scope~}}
{{~/inline~}}

{{! Main logic }}
{{#scope
  content_height=0
  scroll_animation=null
  font_metrics=null
  line_height=line_height
  advance_width=advance_width
  adjust_text_length=true
  letter_spacing_ems=0
  text_y_offset=0
  screen_height=0
  height=0
  width=width
  line_number=1
}}
  {{~>set_line_height ~}}
  {{~content_height set=(round
    (eval "compute_content_height" const=const line_height=(line_height) interactions=interactions)
    digits=1
  )~}}
  {{~#if embedded_font~}}
    {{~#with (eval "scale_font_metrics" metrics=embedded_font.metrics font_size=const.FONT_SIZE) as |metrics|~}}
      {{~font_metrics set=metrics~}}
      {{~adjust_text_length set=false~}} {{! The text width will be adjusted via `letter-spacing` if necessary }}
      {{~#if (eq (advance_width) null)~}}
        {{~advance_width set=metrics.advance_width~}}
      {{~else~}}
        {{! Scale advance width from ems to pixels }}
        {{~advance_width set=(mul (advance_width) ../const.FONT_SIZE)~}}
        {{~letter_spacing_ems set=(div (sub (advance_width) metrics.advance_width) ../const.FONT_SIZE)~}}
      {{~/if~}}
      {{!
        Top and bottom marigns are (line_height - (ascent - descent)) / 2. To get an Y offset, we need to add the top margin
        and the ascent, i.e. (line_height + ascent + descent) / 2.
      }}
      {{~text_y_offset set=(div (add (line_height) metrics.ascent metrics.descent) 2)~}}
    {{~/with~}}
  {{~else~}}
    {{~#if (eq (advance_width) null)~}}
      {{~advance_width set=8~}} {{! Set to a reasonable default: ~0.57em }}
    {{~else~}}
      {{! Scale advance width from ems to pixels }}
      {{~advance_width set=(mul (advance_width) const.FONT_SIZE)~}}
    {{~/if~}}
    {{! Use the above formula with heuristic values: ascent ~ 1em, descent ~ -0.3em. Hence, their sum is ~0.65em or ~9px. }}
    {{~text_y_offset set=(div (add (line_height) 9) 2)~}}
  {{~/if~}}
  {{~#if line_numbers~}}
    {{! Adjust width to take line numbers into account }}
    {{~width set=(add (width) const.LN_WIDTH const.LN_PADDING)~}}
  {{~/if~}}
  {{~#if scroll~}}
    {{scroll_animation set=(eval "compute_scroll_animation"
      const=const
      scroll=scroll
      width=(width)
      content_height=(content_height)
    )}}
  {{~/if~}}
  {{~#if (scroll_animation)~}}
    {{screen_height set=scroll.max_height}}
  {{~else~}}
    {{screen_height set=(content_height)}}
  {{~/if~}}
  {{~height set=(add (screen_height) (mul const.WINDOW_PADDING 2))~}}
  {{~#if window_frame~}}
    {{height set=(add (height) const.WINDOW_FRAME_HEIGHT)}}
  {{~/if~}}
{{>root~}} {{! <-- All rendering happens here }}
{{/scope}}
